@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg {
    background: url('https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
    no-repeat center center/cover;
    position: absolute;
    left: -30px;
    top: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    z-index: -1;
}

#loading {
    font-size: 4em;
    color: #fff;
}